<footer class="foot">
    <h5 class="foot__title">Siguenos en:</h5>
    <div class="content">
        <div id="t"class="content__a">
            <a class="to" href="">Twitter</a>
        </div>
        <div id="f"class="content__a">
            <a class="to"  href="">Facebook</a>
        </div>
        <div id="i"class="content__a">
            <a class="to" href="">Instagram</a>
        </div>
        <div class="content__a">
            <a class="to" href="">TikTok</a>
        </div>
    </div>
        <p id="fp">Copyright Shopéame ©{{anyo}}</p>
</footer>
