<header class="hdr">
    <div class="title">
        <div class="title__logo">
            <!-- <img class="title__logo--i"src="../../../assets/Letter.png" alt="s"> -->
            <h1 class="title__logo--i">S</h1>
        </div>
        <h1 class="title__letter"> Shopéame!</h1>
    </div>
    <nav class="hdr__nv">
        <div class="hdr__nv--a">
            
            <a class="hdr__nv--b"routerLink="/"><img src="../../../assets/Vector.png" alt="H">HOMME</a>
        </div>
        <div class="hdr__nv--a">
            
            <a  class="hdr__nv--b" routerLink="/products"><img src="../../../assets/Vector (1).png" alt="">PRODUCTS</a>
        </div>
        <div class="hdr__nv--a">
            <a  class="hdr__nv--b" routerLink="/gestion"> <img src="../../../assets/Vector (2).png" alt="">GESTIÓN</a>
        </div>
    </nav>
</header>