<main class="home">
    <div class="home__content">
        <h1 class="home__content--t">Bienvenido a Shopéame</h1>
        <h3 class="home__content--b">¿Qué es Shopeame?</h3>
        <p class="home__content--p">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis minus aliquid debitis totam deserunt ea
            quos quisquam modi molestias natus. Illum iste sequi laudantium ea laborum recusandae consectetur corrupti
            culpa?</p>
        <h3 class="home__content--b">¿Para qué puedo usar Shopéame?</h3>
        <p class="home__content--p">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim quam praesentium cum, ex sequi eius fugiat
            corrupti id rerum tempora possimus asperiores sint perferendis molestias, sed aut esse fuga vitae.</p>
        <h3 class="home__content--b">¿Quiénes hacemos Shopéame?</h3>
        <p class="home__content--p">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel voluptatem ex velit perspiciatis nemo numquam
            praesentium magni saepe. Quisquam aliquid illo quis amet minus natus vel eum numquam in tenetur.</p>
        <h3 class="home__content--b">¿Es seguro Shopéame?</h3>
        <p class="home__content--p">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis dolores optio voluptatum harum maiores?
            Repellendus mollitia, quasi sequi voluptate dignissimos ipsum blanditiis excepturi odit similique ipsa vero
            hic voluptatem delectus!</p>
    </div>
</main>